.container
  .row.card-row
    .card.col-lg-3.infocard(style='width: 18rem;')
      a(href='/doctor')
        img.card-img-top(src='./images/doctor.jpg' alt='...')
      .card-body
        p.card-text DOCTORS
    .card.col-lg-3.infocard(style='width: 18rem;')
      a(href='/hospitals')
        img.card-img-top(src='./images/hospital.jpg' alt='...')
      .card-body
        p.card-text HOSPITALS
