//- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
footer
  .container
    .row(style='')
      .col-lg-2
        a(href='https://www.facebook.com')
          i.fa-brands.fa-facebook-square
        br
        a(href='https://www.twitter.com')
          i.fa-brands.fa-twitter-square
      .col-lg-2
        h6#footerH
          | LEGAL 
          br
        a(href='') Terms
        br
        a(href='') Privacy
      .col-lg-2
        h6#footerH   CONTACT US
        |                 +92 424 3684-7
